<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<title>Eat The Burger!</title>
	</head>
	<body bgcolor= "#bf5700">
		<div class="container">
			<center>
				<div class="row">
					<img src="assets/images/burgerpants.gif" height="150" width="150">
				</div>
			</center>

			<center>
				<h2 class="red_font">Let's Eat Burgers!</h2>
			</center>
      
      		<br>
			{{{ body }}}
		</div>
	</body>
</html>
