body{
    background-color: #bf5700;
}

.container{
    background-color: #bf5700;
}

ul{
    list-style: none;
}

li {
    padding: 5px;
    margin: 5px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: #6f6f6f;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  